.banner {
  display: flex;
  border-width: 1px;
  border-style: solid;
  height: 50px;
}

.right-container {
  display: flex;
  position: absolute;
  top: 13px;
  right: 10%;
}

.right {
  padding-left: 50px;
}

.home {
  font-size: 40px;
  position: absolute;
  left: 10%;
  top: -5px;
}
