.banner {
  display: flex;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e3e3e3;
  height: 50px;
}

.right-container {
  display: flex;
  position: absolute;
  top: 13px;
  right: 10%;
}

.right {
  padding-left: 50px;
}

.logo {
  font-size: 40px;
  position: absolute;
  left: 10%;
  top: -9px;
  width: 145px;
}

.logo-img {
  width: 100%;
}
