.error-text {
  color: red;
}

.form-control {
  width: 300px;
}

.modal-container {
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin: auto;
  width: 340px;
  margin-top: 200px;
}

.selectiveButton {
  width: 149px;
  border-radius: 0;
  background-color: white;
  color: #00bfff;
  border-color: #00bfff;
}

.selected {
  background-color: #00bfff;
  color: white;
}
