.bookedhistory-page {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}
.bookedhistory-header {
  text-align: left;
  font-size: 24px;
}

.bookedhistory-line {
  border: 1px solid;
}

.bookedhistory-topic {
  padding-right: 25px;
}

.bookedhistory-table {
  border: 0px !important;
}

.bookedhistiry-list {
  margin-left: 100px;
  margin-right: 100px;
}

.bookedhistory-tourimage {
  height: 200px;
  width: 200px;
}
